@model Tasker.Models.Taskk

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Taskk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParentTaskId" class="control-label"></label>
                <select asp-for="ParentTaskId" class="form-select">
                    @foreach (Taskk taskk in ViewBag.Tasks)
                    {
                        <option value="@taskk.TaskId">@taskk.TaskId. @taskk.TaskName</option>
                    }
                </select>
                <span asp-validation-for="ParentTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDesc" class="control-label"></label>
                <input asp-for="TaskDesc" class="form-control" />
                <span asp-validation-for="TaskDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoerUserId" class="control-label"></label>
                <select asp-for="DoerUserId" class="form-select">
                    @foreach (User user in ViewBag.Users)
                    {
                        <option value="@user.UserId">@user.UserName</option>
                    }
                </select>
                <span asp-validation-for="DoerUserId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="TaskMasterUserId" class="control-label"></label>
                <select asp-for="TaskMasterUserId" class="form-select">
                    @foreach (User user in ViewBag.Users)
                    {
                        <option value="@user.UserId">@user.UserName</option>
                    }
                </select>
                <span asp-validation-for="TaskMasterUserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-select">
                    @foreach (Status status in ViewBag.Statuses)
                    {
                        <option value="@status.StatusId">@status.StatusName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />


                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskCost" class="control-label"></label>
                <input asp-for="TaskCost" class="form-control" />
                <span asp-validation-for="TaskCost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
